.filter {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 700px;
  margin: auto;
  text-align: center;
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0.25rem 0.25rem 0.75rem rgb(0 0 0 / 0.15);
  background: rgba(255, 255, 255, 0.826);
  background-image: url('/src/register.png');
  background-blend-mode: color-dodge;
  background-position-x: 0px;
  background-position-y: -250px;
}
.filterInput {
  display: flex;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  height: 35px;
  width: 500px;
  font-size: 30px;
  border-radius: 10px;
  border: 3px solid pink;
}
