.form {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 700px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0.25rem 0.25rem 0.75rem rgb(0 0 0 / 0.15);
  padding-top: 20px;
  padding-bottom: 20px;
  background: rgba(255, 255, 255, 0.826);
  background-image: url('/src/register.png');
  background-blend-mode: color-dodge;
  background-position-x: 0px;
  background-position-y: 0px;
}
.form input {
  display: block;
  margin-top: 20px;
  height: 35px;
  width: 500px;
  font-size: 30px;
  border-radius: 10px;
  border: 3px solid pink;
  margin-bottom: 20px;
}
.formBttn {
  border-radius: 10px;
  background-color: white;
  border: 3px solid rgba(159, 37, 37, 0.267);
  cursor: pointer;
  height: 50px;
  width: 150px;
  margin-top: 15px;
  color: pink;
  font-weight: 600;
  font-size: 16px;
}
.formBttn:hover {
  background-color: rgba(239, 147, 162, 0.725);
  color: white;
}
