.form {
  width: 320px;
  background-image: linear-gradient(-225deg, #ffe6fa 50%, #e9e3fd 50%);
  width: 350px;
  min-height: 500px;
  height: auto;
  border-radius: 5px;
  margin: 2% auto;
  box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 30px;
  padding: 5%;
  font-size: 16px;
  font-weight: 600;
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.form input {
  padding: 14.5px 0px 15px 9px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-top: 15px;
}
.form button {
  padding: 14.5px 0px 15px 9px;
  border-radius: 5px;
  outline: none;
  border: 2px solid pink;
  background-color: rgb(149, 149, 203);
  font-size: 14px;
  font-weight: 600;
}

.form button:hover {
  background-color: #ffe6fa;
  border: 2px solid rgb(149, 149, 203);
  cursor: pointer;
}
